div.lettre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
               "from from from from"
               "timespace timespace timespace timespace"
               "a a to to"
               "subject-label subject subject subject"
               "ref-label ref ref ref"
               "b opening opening opening"
               "body body body body"
               "c closing closing closing"
               "c signature signature signature"
               "footnotes footnotes footnotes footnotes";
}

body {
  background-color: white;
  margin: 1rem 3rem;
}

.from {
  grid-area: from;
  text-align: center;
}

.date {
  grid-area: timespace;
  text-align: right;
}

.to {
  grid-area: to;
  /* background-color: aqua; */
}

.subject {
  grid-area: subject;
}

.ref {
  grid-area: ref;
}

.subject-label {
  grid-area: subject-label;
  text-align: right;
  margin-right: 0.5rem;
}
.ref-label {
  grid-area: ref-label;
  text-align: right;
  margin-right: 0.5rem;
}

.opening {
  grid-area: opening;  gap: 1rem;
}

.body {
  grid-area: body;
}

.closing {
  grid-area: closing;
}

.signature {
  grid-area: signature;
}

#footnotes {
  grid-area: footnotes;
}
